<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Responsive Admin Dashboard | Redesign</title>
	<link rel="stylesheet" href="../static/css/stylehome.css">
	<!-- 	<link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>



	<link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" />

	<!-- datatables JavaScript-->
	<script src='//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js'></script>

	<!-- datatables Custom Filtering-->
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
</head>

<body>

	<div class="container1">
		<div class="navigation">
			<ul>
				<li>
					<a href="#">
						<span class="icon">
							<ion-icon name="code-working"></ion-icon>
						</span>
						<span class="title">COMANDO FÁCIL</span>
					</a>
				</li>
				<li>

					<a href={{ url_for('search',type='Linux' ) }}>
						<span class="icon">
							<ion-icon name="logo-tux"></ion-icon>
						</span>
						<span class="title">Linux</span>
					</a>
				</li>
				<li>
					<a href={{ url_for('search',type='GitHub' ) }}>
						<span class="icon">
							<ion-icon name="logo-github">
						</span>
						<span class="title">GitHub</span>
					</a>
				</li>
				<li>
					<a href={{ url_for('search',type='Mysql' ) }}>
						<span class="icon">
							<ion-icon name="logo-buffer"></ion-icon>
						</span>
						<span class="title">Mysql</span>
					</a>
				</li>
				<li>
					<a href={{ url_for('search',type='Windows' ) }}>
						<span class="icon">
							<ion-icon name="logo-windows"></ion-icon>
						</span>
						<span class="title">Windows</span>
					</a>
				</li>
				<li>
					<a href={{ url_for('search',type='Docker' ) }}>
						<span class="icon">
							<ion-icon name="boat"></ion-icon>
						</span>
						<span class="title">Docker</span>
					</a>
				</li>
				<li>
					<a href={{ url_for('search',type='Rede' ) }}>
						<span class="icon">
							<ion-icon name="cloud"></ion-icon>
						</span>
						<span class="title">Rede</span>
					</a>
				</li>
				<li>
					<a href={{ url_for('search',type='Linguagens' ) }}>
						<span class="icon">
							<ion-icon name="cafe"></ion-icon>
						</span>
						<span class="title">Linguagens</span>
					</a>
				</li>
				<li>
					<a href={{ url_for('search',type='Outros' ) }}>
						<span class="icon">
							<ion-icon name="cube"></ion-icon>
						</span>
						<span class="title">Outros</span>
					</a>
				</li>
			</ul>
		</div>

		<!--main-->
		<div class="main">
			<div class="topbar">
				<div class="toggle">
					<ion-icon name="menu-outline"></ion-icon>
				</div>
				<div class="container">
					<div class="row">
						<div class="col align-self-start"></div>
						<div class="col align-self-center"></div>

						<div class="d-flex justify-content-end">
							<!-- Topbar Navbar -->
							<ul class="navbar-nav ml-auto">
								<div class="topbar-divider d-none d-sm-block">
									<!-- Nav Item - User Information -->
									<li class="nav-item dropdown no-arrow">
										<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span id="nome_usu"
												style="text-transform: uppercase;">{{idUser.name}}</span>
											<img class="img-profile rounded-circle" width="40"
												src="../static/images/user.svg">
										</a>
										<input type="hidden" name="nlogin">
										<input type="hidden" name="admin">
										<!-- Dropdown - User Information -->
										<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
											aria-labelledby="userDropdown">
											<!-- <div class="dropdown-divider"></div> -->
											<a class="dropdown-item" href="{{ url_for('logout') }}">
												<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> <span
													class="icon">
													<ion-icon name="log-out-outline"></ion-icon>
												</span>Sair
											</a>
											<a class="dropdown-item" data-toggle="modal" data-target="#perfilModal">
												<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
												<ion-icon name="person-outline"></ion-icon>Perfil
											</a>

											{% if idUser.level == 2 %}
											<a class="dropdown-item" href="#" data-toggle="modal"
												data-target="#logoutModal">
												<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
												<ion-icon name="settings-outline"></ion-icon>Configurações
											</a>
											{% endif %}
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>
				</div>



				<!-- Perfil Modal-->
				<div class="modal fade" id="perfilModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
					aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Editar Seu Perfil:</h5>
							</div>
							<div class="modal-body">

								<form method="post" action="/userUpdatePerfil/{{idUser.id}}" class="row g-3">
									<div class="col-md-12">
										<label class="form-label">Nome:</label>
										<input name="name" value="{{idUser.name}}" type="text" class="form-control"
											required required>
									</div>

									<div class="col-md-12">
										<label class="form-label">Email:</label>
										<input name="email" value="{{idUser.email}}" type="text" class="form-control"
											required>
									</div>

									<div class="col-md-12">
										<label class="form-label">Senha:</label>
										<input name="password" type="text" class="form-control"
											placeholder="**************************">
									</div>

									<div class="col-md-12">
										<label class="form-label">Nível:</label>
										{% if idUser.level == 2 %}
										<input name="level" value="{{idUser.level}}" type="text" class="form-control"
											required readonly>
										{% else %}
										<input name="level" value="{{idUser.level}}" type="text" class="form-control"
											required readonly>
										{% endif %}
									</div>			

									<div class="col-md-12">
										<label class="form-label">Empresa:</label>
										<input name="company" value="{{idUser.company}}" type="text"
											class="form-control" required readonly>
									</div>

									<div class="modal-footer">
										<button class="btn btn-secondary" type="button"
											data-dismiss="modal">Cancelar</button>
										<button type="submit" class="btn btn-primary">Salvar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category,message in messages %}
			{% if category == 'success' %}
			<div class="alert alert-success d-flex align-items-center" role="alert">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
					class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
					aria-label="Warning:">
					<path
						d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
				</svg>
				<div>
					{{message}}
				</div>
			</div>
			{% else %}
			<div class="alert alert-danger d-flex align-items-center" role="alert">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
					class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
					aria-label="Warning:">
					<path
						d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
				</svg>
				<div>
					{{message}}
				</div>
			</div>




			{% endif %}
			{% endfor %}
			{% endif %}
			{% endwith %}



			<!--data list-->

			{% if idUser.level == 2 %}

			<div class="details">
				<div class="recentOrders">
					<div class="cardHeader">

						<h2>Configurações</h2>


						<!-- Button trigger modal -->
						<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ModalNovoUser">
							<ion-icon name="add-outline"></ion-icon>NOVO USUÁRIO
						</button>

						<!-- Modal editar user -->
						<div class="modal fade" id="ModalNovoUser" tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-md" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Cadastro Novo Usuário</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form method="post" action="/newUser" class="row g-3">

											<div class="col-md-12">
												<label class="form-label">Nome:</label>
												<input name="name" type="text" class="form-control" required>
											</div>

											<div class="col-md-12">
												<label class="form-label">Email:</label>
												<input name="email" type="email" class="form-control" required>
											</div>

											<div class="col-md-12">
												<label class="form-label">Senha:</label>
												<input name="password" type="password" class="form-control"
													placeholder="**************************" required>
											</div>


											<div class="col-md-12">
												<label for="new_login" class="form-label">Nivel:</label>

												<select name="level" id="new_status" class="form-select form-control"
													required>
													<option value="" selected>Selecione...</option>

													<option value="2">Administrador</option>
													<option value="1">Simples</option>

												</select>
											</div>

											<div class="col-md-12">
												<label class="form-label">Empresa:</label>
												<input name="company" type="text" class="form-control" required>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Fechar</button>
												<button type="submit" class="btn btn-primary">Salvar</button>
											</div>

										</form>
									</div>

								</div>
							</div>
						</div>
					</div>

					

					<table id="TableSimple">
						<thead>
							<tr>
								<td class="all" style="text-align: center ;">+</td>
								<td class="all">#</td>
								<td class="all">Nome</td>
								<td class="none">Email:</td>
								<td class="none">Permissão:</td>
								<td class="none">Empresa:</td>
								<td class="none">Ativo:</td>
								<td class="none">Criado:</td>

								<td class="all">Ações</td>

							</tr>
						</thead>



						<tbody id="corpo">


							{% for dataUser in dataUsers %}

							<tr>
								<td title="+info"></td>
								<td>{{dataUser.id}}</td>
								<td>{{dataUser.name}}</td>
								<td>{{dataUser.email}}</td>
								{% if dataUser.level == 2%}
								<td>Usuário Administrador</td>
								{% else %}
								<td>Usuário Simples</td>
								{% endif %}
								<td>{{dataUser.company}}</td>
								<td>{{dataUser.active}}</td>
								<td>{{dataUser.createdAt}}</td>

								<td>
									<a href="/update/{{dataUser.id}}" type="button" class="btn btn-outline-warning"
										style=" border:none;" data-bs-toggle="modal"
										data-bs-target="#modaledit{{dataUser.id}}">
										<ion-icon size="large" name="create-outline"></ion-icon>
									</a>


									<div class="modal fade" id="modaledit{{dataUser.id}}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-md" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Atualizando Usuário
													</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form method="post" action="/updateUser/{{dataUser.id}}"
														class="row g-3">

														<div class="col-md-12">
															<label class="form-label">Nome:</label>
															<input name="name" value="{{dataUser.name}}" type="text" class="form-control"
																required>
														</div>

														<div class="col-md-12">
															<label class="form-label">Email:</label>
															<input name="email" value="{{dataUser.email}}" type="text" class="form-control"
																required>
														</div>

														<div class="col-md-12">
															<label class="form-label">Senha:</label>
															<input name="password"  type="text" class="form-control"
																placeholder="**************************">
														</div>



														{% if dataUser.level == 2 %}
														<div class="col-md-12">
															<label for="new_login" class="form-label">Nivel:</label>
															<select name="level" id="new_status"
																class="form-select form-control" required>
																<option value="2"  selected>Administrador</option>
																<option value="2">Administrador</option>
																<option value="1">Simples</option>
															</select>
														</div>
														{% else %}
														<div class="col-md-12">
															<label for="new_login" class="form-label">Nivel:</label>
															<select name="level" id="new_status"
																class="form-select form-control" required>
																<option value="1" selected>Simples</option>
																<option value="2">Administrador</option>
																<option value="1">Simples</option>

															</select>
														</div>

														{% endif %}

														<div class="col-md-12">
															<label class="form-label">Empresa:</label>
															<input name="company" value="{{dataUser.company}}" type="text" class="form-control"
																required>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">Fechar</button>
															<button type="submit"
																class="btn btn-primary">Salvar</button>
														</div>
													</form>
												</div>

											</div>
										</div>
									</div>

									<a href="/userDelete/{{dataUser.id}}" type="button"
										class="btn btn-outline-danger" style=" border:none;"
										onclick="return confirm('Deseja realmente apagar o  {{dataUser.id}} ?')">
										<ion-icon size="large" name="trash-outline"></ion-icon>
									</a>

								</td>

							</tr>

							{% endfor %}



						</tbody>
					</table>

					{% endif %}



				</div>
			</div>
		</div>
	</div>












	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


	<script type="text/javascript" src="../static/js/main.js"></script>


</body>

</html>